/* BookTable.css */

@media (max-width: 768px) {
  .reservation-form {
    padding: 20px !important;
  }

  .reservation-form h1 {
    font-size: 1.8rem !important;
    text-align: center;
  }

  .reservation-form h5 {
    text-align: center;
  }

  .form-floating label,
  .form-floating input,
  .form-floating select,
  .form-floating textarea {
    font-size: 0.9rem;
  }

  .btn {
    font-size: 1rem;
  }

  .video img {
    width: 100% !important;
    height: inherit;
    display: block;
    object-fit: cover;
  }


  
}
